.container{
    /*max-height: 70vh;*/
}


@media only screen and (min-width: 600px){
    .container{
        overflow-y: auto;
        overflow-x: hidden;
    }
    .container::-webkit-scrollbar {
        width: 2px;
    }
    .container::-webkit-scrollbar-track{
        background-color: #F0F2F4;
        padding-right: 1px;
    }
    .container::-webkit-scrollbar-thumb{
        width: 1px;
        background-color: #D9D9D9;
        height: 4px;
    }

}