.tab{
    width: 100%;
    display: flex;
    /*grid-template-columns: max-content;*/
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.container{
    background-color: white;
}


@media only screen and (min-width: 600px){
    .container{
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 10px;

    }
    .container::-webkit-scrollbar {
        width: 2px;
    }
    .container::-webkit-scrollbar-track{
        /*background-color: #F0F2F4;*/
        background-color: white;
        padding-right: 1px;
    }
    .container::-webkit-scrollbar-thumb{
        width: 1px;
        background-color: #D9D9D9;
        height: 4px;
    }

}