.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
    padding: 20px;
    z-index: 500;
  }
  .institutionText{
  
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  
  }
  .institutionCard{
    width: 100%;
    height: 20rem;
    margin-top: 1rem;
    overflow: scroll;
    /*background-color: #e1dadc;*/
  
  }
  .noText{
    width: 34px;
    height: 21px;
    padding: 5px;
    border-radius: 3px ;
    background-color: #f2f4f7;
    border:1px solid #d5dae0 ;
    object-fit: contain;
  
  }
  .text1{
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: auto;
    margin-top: auto;
    /*text-align: center;*/
  
  }
  .text{
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: #000000;
  
  }
  .institutionMiniCard{
    object-fit: contain;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 55px;
    margin-bottom: 1rem;
    border-radius: 4px ;
    border: 2px solid #eef0f3; ;
  
  }
  
  .institutionMiniCard2{
    object-fit: contain;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 55px;
    margin-bottom: 1rem;
    border-radius: 4px ;
    border: 2px solid #0d9b48; ;
  
  }
  .institutionName{
    color: #000000;
    font-size: 14px;
    font-weight: 450;
    line-height: 14px;
    text-align: left;
    width: auto;
    /*background-color: #025b25;*/
  
  }
  .institutionCard::-webkit-scrollbar {
    width: 6px;
  }
  
  .institutionCard::-webkit-scrollbar-track {
    background: white;
  }
  
  .institutionCard::-webkit-scrollbar-thumb {
    background: #EAECF0;
    border-radius: 8px;
  }
  
  .input {
    width: 229px;
    height: 40px;
  }
  
  .body {
    width: 30%;
    max-width: 100%;
    overflow: auto;
    height: auto;
    display: flow-root;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #ffffff;
    border-radius: 8px;
    outline: 0 !important;
    animation: openModal 0.2s ease-out forwards;
    box-shadow: 0px 1.3px 2.6px rgba(0, 0, 0, 0.02),
      0px 3.1px 6.3px rgba(0, 0, 0, 0.028), 0px 5.8px 11.8px rgba(0, 0, 0, 0.035),
      0px 10.3px 21px rgba(0, 0, 0, 0.042), 0px 19.2px 39.3px rgba(0, 0, 0, 0.05),
      0px 46px 94px rgba(0, 0, 0, 0.07);
  }
  @media (max-width: 768px) {
    .body {
      width: auto; 
      margin-left: 10px;
      margin-right: 10px;
      max-height: 70vh; 
      overflow-y: auto; 
    }
  }
  
  @keyframes openModal {
    0% {
      transform: scale(0.95);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  