.loanOfferDetails {
    background-color: #fff;
    overflow-y: scroll;
}
.loanOfferDetails::-webkit-scrollbar-track{
    background-color: #fff;

}
.loanOfferDetails::-webkit-scrollbar-thumb{
    background-color: rgb(217, 217, 217);
    width: 4px;
    height: 1rem;
    margin-right: 0.5rem;
}
.tabConnector{
    display: grid;
}

@media only screen and (max-width: 600px) {
    .tabConnector {
        display: flex;
        grid-template-columns: max-content;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .loanOfferDetails {

    }
}