.detailContainer{
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 58vh;
    grid-template-rows: repeat(6, 1fr);
}

.detailContainer::-webkit-scrollbar {
    display: none;
}

.orgDetailContainer{
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 60vh;
    grid-template-rows: repeat(6, 1fr);
}

.orgDetailContainer::-webkit-scrollbar {
    display: none;
}

.loanDetailContainer{
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* height: 62vh; */
    grid-template-rows: repeat(6, 1fr);
}

.loanDetailContainer::-webkit-scrollbar {
    display: none;
}
