.detailContainer{
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 58vh;
    grid-template-rows: repeat(6, 1fr);
}

.detailContainer::-webkit-scrollbar {
    display: none;
}