
.authLayoutChildrenDiv {
    background-color: #E1EEFF;

}

.authBgMainContainer{
    background-color: white;
    /*grid-template-columns: 40% 60%;*/
}
.revolunizing{
    font-size: calc(3.5vw + 1vh);
}

@media only  screen and (min-width: 834px) {
    .authBgMainContaine{
        visibility: hidden;
    }
}

@media only screen and (min-width: 768px){
    .authBgMainContainer{
        grid-template-columns: 35% 65%;

    }
}

@media only screen  and (min-width: 768px){
    .authLayoutChildrenDiv{
        width: 100%;
        /*clip-path: polygon(25.2% 0%, 85% 0%, 100.1% 0%, 100.1% 100.3%, 85% 100%, 15% 100%, 0% 100.3%, 29% 54%);*/
        clip-path: polygon(50% 0%, 100% 0%, 99.8% 100%, 75% 100%, 0% 100%, 25.6% 51.3%, 19.5% 0%);
    }

}