.mainDetails{
    background-color: white;
}
.container{

}
.tabConnector{
    display: grid;
}



@media only screen and (max-width: 200px){
    .tabConnector{
        display: flex;
        grid-template-columns: max-content;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .mainDetails{
        /*display: grid;*/
        grid-template-columns: max-content;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

.detailsMainComponent{
    background: white;
}
.detailsMainComponent::-webkit-scrollbar-track{
    background: white;
}