.container {
    width: 100%;
    /* background-color: white; */
    overflow-y: auto;
    margin-bottom: 50px;
}


@media only screen and (min-width: 960px) {
    .container {
        overflow-y: scroll;
    }
}


@media only screen and (min-width: 600px) {
    .container {
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 10px;
    }
}


.container::-webkit-scrollbar {
    width: 2px;
}

.container::-webkit-scrollbar-track {
    background-color: white;
    padding-right: 1px;
}

.container::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #D9D9D9;
    border-radius: 4px;
}

/* Firefox scrollbar */
.container {
    scrollbar-width: thin;
    scrollbar-color: #D9D9D9 white;
}