.container{
    /*display: flex;*/
    /*grid-template-columns: max-content;*/

    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.containerDiv{
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 56vh;
    background-color: aqua;
    /*grid-template-columns: 200px;*/
    grid-template-rows: repeat(6, 1fr);

}

.containerTop{

    grid-row: 2 / 4;
}
.containerBottom{

}

.tab{
    display: flex;
    grid-template-columns: max-content;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.details{
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.containers{
    
}
@media only screen and (max-width: 960px) {
    .containers{
        visibility: hidden;
    }
}
.detailsWidth{
 width: 100%;
}
@media only screen and (max-width: 400px) {
    .detailsWidth{
        width: 16em;
    }
}