.tab{
    display: flex;
    grid-template-columns: max-content;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.selectedLoan{
    display: flex;
    width: auto;
    height:auto;
    background-color: #FFFFFF;
    /*font-weight: bold;*/
    color: black;
}
.filter{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}
.changeOrganizationText{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: #0EAA4F;
}
.changeOrganizationLine{
    background-color: #0eaa4f;
    height: 2px;
    width: auto;
}

.organizationName{
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
}

.loanText{
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
}
