.tab{
    display: flex;
    grid-template-columns: max-content;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.layout{
    display: grid;
    /*gap: ;*/
    /*grid-auto-rows: 30% 70%;*/
}
.selectedLoan{
    display: flex;
    width: auto;
    height:auto;
    background-color: #FFFFFF;
    /*font-weight: bold;*/
    color: black;
}


