.container{
    max-height: inherit;
}


@media only screen and (max-width: 600px){
    .container{
        overflow-y: auto;
        /*-ms-overflow-style: none;*/
        /*scrollbar-width: 5px;*/
    }
    .container::-webkit-scrollbar-track{
        width: 5px;
        background-color: #F0F2F4;
    }
    .container::-webkit-scrollbar-thumb{
        width: 5px;
        background-color: #D9D9D9;
    }

}
