.container{
    max-height: 100%;
}


@media only screen and (max-width: 960px){
    .container{
        overflow-y: auto;
        overflow-x: hidden;
        padding-left: 10px;

        /*-ms-overflow-style: none;*/
        /*scrollbar-width: 5px;*/
    }
    .container::-webkit-scrollbar {
        width: 2px;
    }
    .container::-webkit-scrollbar-track{
        /*width: 10px;*/
        /*background-color: #F0F2F4;*/
        padding-right: 1px;
    }
    .container::-webkit-scrollbar-thumb{
        width: 1px;
        background-color: #D9D9D9;
        height: 5px;
    }

}
