.tableHeaderItem{
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: #404653;
    display: flex;

}

.tableBodyItem{
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #101828;

}