.selectedLoan{
    width: auto;
    height:33px;
    padding: 8px 12px 8px 12px;
    gap: 10px;
    border: 1px solid #dbdfe6;
    border-radius: 5px ;
    background-color: #FFFFFF;
    margin-top: auto;
    margin-bottom: auto;
}

.loanText{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
}
