name: Push to Docker Hub

on:
  push:
    branches:
      - dev

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build Next.js app
        run: npm run build

      - name: Run tests
        run: npm run test:ci

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: |
          docker build -t "${{ secrets.DOCKER_USERNAME }}/nkwadoma_fe:latest" .
          docker tag "${{ secrets.DOCKER_USERNAME }}/nkwadoma_fe:latest" "${{ secrets.DOCKER_USERNAME }}/nkwadoma_fe:${{ github.sha }}"

      - name: Push Docker image
        run: |
          docker push "${{ secrets.DOCKER_USERNAME }}/nkwadoma_fe:latest"
          docker push "${{ secrets.DOCKER_USERNAME }}/nkwadoma_fe:${{ github.sha }}"
